* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, white, black);
    color: white;
    font-family: koulen, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {

    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.25rem;
    font-size: 2rem;
    border: none;
    background: darkgreen;
}

form button {
    color: black;
    background: darkgreen;
    cursor: pointer;
}